<h1>XDM Bookmarklet Example</h1>

<p>Drag the link below into your bookmark bar.</p>

<%= link_to 'Fvb Xdm', easymarklet_js('fvb_xdm_consumer.js'), :class=> "btn" %>


<%= render 'initial_setup' %>

<%= render 'xdm_basics' %>

<h2>Generating this bookmarklet</h2>

<pre>
  <code>rails g easymarklet:xdm fvb_xdm</code>
</pre>

<p>
You'll get a bunch of files.
</p>

<pre>
<code>
$ rails g easymarklet:xdm fvb_xdm
      create  app/assets/javascripts/fvb_xdm_bookmarklet.js
      create  app/assets/javascripts/fvb_xdm_consumer.js
      create  app/assets/javascripts/fvb_xdm_producer.js
      create  app/controllers/fvb_xdm_producer_controller.rb
      create  app/views/fvb_xdm_producer/index.html.erb
      create  app/views/layouts/fvb_xdm_producer.html.erb
       route  match 'fvb_xdm_producer' => 'fvb_xdm_producer#index'

You can link to your new bookmarklet with this :

&lt;%= link_to 'Fvb Xdm', easymarklet_js('fvb_xdm_consumer.js') %&gt;
</code>
</pre>

<%= render 'file_overview' %>

<h2>Update the code</h2>
<p>
  The only JS file that you'll need to modify is 
  <code>app/assets/javascripts/fvb_xdm_bookmarklet.js</code>
</p>  
<pre>
<code><%= File.open("#{Rails.root}/app/assets/javascripts/fvb_xdm_bookmarklet.js").read %></code>
</pre>

<p>
  You'll also need to add some css to style the UI elements that 
  the bookmarklet adds to the page.
</p>
<p>
<code>app/assets/stylesheets/fvb_xdm_bookmarklet.css</code>
</p>

<pre>
<code><%= File.open("#{Rails.root}/app/assets/stylesheets/fvb_simple_bookmarklet.css").read %></code>
</pre>

