<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field clearfix" id="your_vote">
    <span>Your Vote :</span>
    <label><%= f.radio_button "vote", "Foo" %><span>Foo</span></label>
    <label><%= f.radio_button "vote", "Baz" %><span>Baz</span></label>
  </div>
  <div class="actions">
    <%= f.submit "Cast my vote!" %>
  </div>
<% end %>
