<!DOCTYPE html>
<html>
<head>
  <title>FooVsBaz</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/fvb_logo_bar' %>
<div id="main_content" class="well">
  <%= yield %>
</div>
<footer class="footer">
  <%= link_to image_tag('octolabs.png'), 'http://www.octolabs.com/', :class=>'octologo' %>
  <div class='text'>
    <p>Foo Vs Baz is a demo app for the <%= link_to 'Easymarklet ruby gem','https://rubygems.org/gems/easymarklet' %>.</p>
    <p>You can find souce code for <%= link_to 'Foo Vs Baz', 'https://github.com/Octo-Labs/foo_vs_baz' %> and 
    <%= link_to 'Easymarklet','https://github.com/Octo-Labs/easymarklet' %> on 
    <%= link_to 'Github','http://github.com/' %></p>
    <p>
      FVB and Easymarklet are productions of 
      <%= link_to 'OctoLabs', 'http://www.octolabs.com/' %>
    </p>
  </div>
</footer>

<script type="text/javascript">
  var FooVsBaz = FooVsBaz || {};
  FooVsBaz.params = <%= params.to_json.html_safe -%>;
</script>

</body>
</html>
